[submodule "vendor/sass-boilerplate"]
	path = vendor/sass-boilerplate
	url = https://github.com/HugoGiraudel/sass-boilerplate
[submodule "vendor/sass-material-colors"]
	path = vendor/sass-material-colors
	url = https://github.com/minusfive/sass-material-colors
[submodule "vendor/gumshoe"]
	path = vendor/gumshoe
	url = https://github.com/cferdinandi/gumshoe
